html{
  scroll-behavior: smooth;
  transition: ease;
}
body {
font-family: "Old Standard TT", Helvetica, sans-serif;
overflow-x:hidden;
}


.panels{

position:relative;
height:75vh;
min-height:50vh;
width:100%;
z-index:1000;

}
#a{
background: rgb(9, 1, 126) url("https://user-images.githubusercontent.com/106655720/191206288-dd9afb12-7895-4695-8de7-433185199251.jpg");
background-size: cover;
overflow: hidden;
position:fixed;
top:0;
left:0;
z-index:-99;
background-blend-mode:darken;


}
#b{
margin-top:75vh;
background:white;
height:max-content;

}
.txt{
color:rgb(239, 239, 248);
font-size: 20px;;
}

.main-txt{
color:white;
}



.mybutton{
height:50px;
width:150px;
background-color: blue;
color:white;
border-radius: 10px;
border-style:none;
margin-right:10px;
margin-left:0;
}
.mybutton2{
height:80px;
width:250px;
border-radius:35px;
background-color:rgb(7, 1, 34);
color:white;
font-size:20px;
border-style:none;
box-shadow: 0px 4px 8px 0px rgba(6, 1, 51, 0.2);
}
#main-x{
text-align: left;
margin:0 auto;

font-size:40px;
font-weight:bold;

}


.sect-title{
font-size:25px;
color:rgb(191, 191, 240);
padding-top:40px;
}
.sect-main{
font-size:25px;
font-weight:bold;

}
.sect-main1{
font-size:25px;
font-weight:bold;
color:aliceblue;
}
.subtxt{
font-size:20px;
font-weight:300;
text-align: center;
}
.subtxt1{
font-size:20px;
font-weight:300;
text-align:justify;
color:aliceblue;
}
.mybutton3{
width:80%;
height:40px;
background-color: aliceblue;
color:black;
border-style:none;
margin:0 auto;
}
.mybtn1{
height:70px;
width:150px;
color:aliceblue;
background-color: blue;
border-style:none;
margin-right:10px;
}
.mybtnx{
height:60px;
width:150px;
color:rgb(38, 42, 248);
background-color:inherit;
border:1px solid blue;
border-radius:20px;
}
.mybtn2{
height:70px;
width:150px;
color:rgb(17, 17, 17);
background-color:aliceblue;
border-style:none;

}
.btn-gap{
margin-top:50px;
}
.row-center{
margin-top:10%;
}
.row-top{
margin-top:15%;

}
.item{
border-radius:10px;
object-fit: contain;

}
#second{
margin-top:50px;
height:100vh;
width:auto;
background-color: rgb(1, 1, 34);
}
.col-sm-12{
width:auto;
margin:0 auto;
text-align:center;
}
#third{
margin-top:50px;
height:max-content;
width:auto;
background-color: white;
}
.box{

margin:0 auto;
border-radius: 15px;
height:180px;
margin-bottom:15px;
box-shadow: 0px 4px 8px 0px rgba(35, 3, 182, 0.2);
}
.gap{
padding-top:30px;
font-size:20px;
font-weight:bold;
}
.subtxtx{
font-size:15px;
color:rgb(78, 79, 80);
}
.move{
margin-bottom: 10px;
}
.col-dwn{
background-color: blue;
}
.col-up{
background-color: rgb(244, 244, 252);
}
.big-txt{
font-size:60px;
color:aliceblue;
text-align:center;
padding-top:100px;
font-weight:bold;
}
.rw-ctrl{
margin-top:50px;

}
@media (max-width:767px){
.rw-ctrl{
display:flex;
flex-direction: column-reverse;
}
}
.rw-chk{
height:55vh;
padding:20px;
padding-top:60px;
width:95%;
}
.chk{
padding-bottom:80px;
}
a{
text-decoration: none;
color:initial;
}
#fifth{
margin-top:100px;
height:auto;
width:auto;

}
.open{
height:100vh;
}
.blog-cont{
width:auto;
height:95%;
border-radius:20px;

box-shadow: 0px 4px 8px 0px rgba(35, 3, 182, 0.2);
}
.blog-prwviw{
margin-top:20px;

}
.blog-name{
padding-left:10px;
font-weight:bold;
padding-top:5px;
}
.blog-id{
margin-top:100px;
}
.blog-pic{
height:60px;
width:60px;
border-radius:50%;
object-fit:cover;
}
.a-btn{
height:40px;
width:120px;
color:azure;
background-color: rgb(221, 216, 216);
float:right;
border-style:none;
}
.blog-item{
float:left;
}
#img-x1{
  background-image: url("https://user-images.githubusercontent.com/106655720/190657092-2ac12b3f-5f9e-4e39-8c15-faac279f6620.jpg");
  object-fit: cover;
  height:50%;
  border-top-left-radius:20px;
  border-top-right-radius:20px;
}

#img-x{
  background-image: url("https://user-images.githubusercontent.com/106655720/190657127-9ad244c6-cffc-4475-94c1-16a478a324dc.jpg");
  object-fit: cover;
  height:50%;
  border-top-left-radius:20px;
  border-top-right-radius:20px;
}
@media(max-width:767px){
#second{
height:150vh;
}
}

#fourth{
background-color: rgb(1, 1, 41);
width:auto;
height:auto;
margin-top:50px;
}

#sixth{
height:max-content;
width:auto;
margin-top:50px;
}


.testimonial-prwviw{
justify-content: center;
margin-bottom:350px;

border-radius:20px;
height:max-content;

-webkit-box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);
-moz-box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);
box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);

}
.testimonial-pic{
height:80px;
width:80px;
border-radius:50%;
padding-top:15px;
}
.testifier-name{
text-align:center;
font-weight:bold;
}
.testimony{
color:rgb(59, 59, 59);
font-size:12px;
text-align:justify;
}
.position{
color:blue;
font-size:12px;
}

button {
border: none;
background: none;
}

a,
a:hover {
color: inherit;
}

figure {
margin: 0;
}


/* MAIN STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
max-width: 1100px;
}

.section-with-carousel .swiper-slide figure {
position: relative;
overflow: hidden;
}

.section-with-carousel .swiper-slide img {
width: 100%;
height: 320px;
object-fit: cover;
}

.section-with-carousel .carousel-controls {
position: absolute;
top: 50%;
left: 0;
right: 0;
transform: translateY(-50%);
display: flex;
justify-content: space-between;
padding: 0 12px;
z-index: 1;
}

.section-with-carousel .carousel-controls .carousel-control {
opacity: 0.25;
transition: opacity 0.3s;
}


.section-with-carousel .carousel-controls .carousel-control:hover {
opacity: 1;
}

@media (min-width: 768px) {

}

@media (min-width: 1200px) {


.section-with-carousel .carousel-controls {
padding: 0 50px;
}
}
.axle{
margin-top:-250px;
}



.main-bowl{
width:auto;
height:auto;
margin:0 auto;
box-shadow: 0px 4px 8px 0px rgba(6, 1, 51, 0.2);

position:relative;
border-radius:20px;
background-color: white;
}
.color{
height:40vh;
width:auto;
background-color:blue;
margin-top:-20vh; 
z-index: 0;
}
.final{
height:auto;
width:auto;
background-color:rgb(1, 1, 31);
}
.final-cont{
padding-bottom:70px;
}
.contact-item{
font-size:20px;
font-weight:bold;
}
.contact-msg{
font-size:15px;

}
.contact-row{
padding-bottom:10px;
padding-top:20px;
margin-top:15px;
margin-bottom:15px;
}
hr{
color:aliceblue;
}
.fa{
color:aliceblue;
margin-right:10px;
}
.copy{
font-size:12px;
color:rgb(130, 133, 133);

}
.ab-x{
border-right:1px solid rgb(1, 1, 46);
}
@media(max-width:767px){
.ab-x{
border-right:none;
border-bottom:1px solid rgb(0, 0, 43);
padding-bottom:15px;
}
.main-bowl{
margin:0 auto;
width:420px;
}
.contact-msg{
text-align: justify;
}
}
.logo{
font-weight:bold;
font-size:40px;
color:white;
}
.final-row{
padding-top:40px;

}
.final-heads{
color:white;
font-size:20px;
font-weight:bold;

}

li{
text-decoration: none;
color:white;
list-style-type: none;
font-size:15px;
}

.list{
padding-top:48px;
}

.input-x{
width:98%;
height:60px;
border-radius:10px;
margin-bottom:15px;
}
.card-carousel {
--card-width: 80%;
--card-max-width: 280px;
--card-height: 350px;
--carousel-min-width: 600px;
z-index: 1;
position: relative;
margin: 0 auto;
width: 100%;
height: var(--card-height);
min-width: var(--carousel-min-width);
transition: filter .3s ease;
background-color: white;
}

@media screen and (max-width: 640px) {
.card-carousel {
margin-left: calc((100vw - var(--carousel-min-width) - 40px) / 2)
}
}

.card-carousel.smooth-return {
transition: all .2s ease;
}

.card-carousel .card {
background: whitesmoke;
width: var(--card-width);
max-width: var(--card-max-width);
text-align: center;
padding: 1em;
min-width: 250px;
height: var(--card-height);
position: absolute;
margin: 0 auto;
color: rgba(0,0,0,.5);
transition: inherit;
-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
border-radius: 1em;
filter: brightness(.9);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.card.highlight {
filter: brightness(1)
}


.card:nth-of-type(1) .image-container {
background-image: url("https://static.addtoany.com/images/dracaena-cinnabari.jpg");
}

.card:nth-of-type(2) .image-container {
background-image: url("https://www.w3schools.com/w3css/img_lights.jpg")
}

.card:nth-of-type(3) .image-container {
background-image: url("https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500")
}
.card:nth-of-type(4) .image-container {
background-image: url("https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500")
}
.card:nth-of-type(5) .image-container {
background-image: url("https://helpx.adobe.com/content/dam/help/en/stock/how-to/visual-reverse-image-search/jcr_content/main-pars/image/visual-reverse-image-search-v2_intro.jpg")
}



.image-container {
width: 8em;
height: 8em;
position: relative;
background-size: cover;
margin-bottom: 2em;
border-radius: 100%;
padding: 1em;
-webkit-box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);
-moz-box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);
box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);

}

.image-container::after {
content: "";
display: block;
width: 120%;
height: 120%;
border: solid 3px rgba(0,0,0,.1);
border-radius: 100%;
position: absolute;
top: calc(-10% - 3px);
left: calc(-10% - 3px);
}

h2 {
padding: 1em;
margin-top: 1em;
background: rgba(0,0,0,.3);
text-align: center;
color: white;
border-radius: .2em;
display: inline-block;
transform: translateX(calc((100vw - 100%) / 2))
}

h2 a {
color: #f5b916
}

.mybtn{
width:60%;
margin:0 auto;
height:30px;
border-style:none;
color:white;
background-color: blue;
border-radius:20px;
font-size:15px;
}


.top{

height:max-content;
}



.offx{

background-color:blue;
border:1px solid white;
}
.offy{
color:white;
}



.overlay {
/* Height & width depends on how you want to reveal the overlay (see JS below) */   
height: 100%;
width: 0;
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
background-color: rgb(53, 49, 49); /* Black fallback color */
background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
overflow-x: hidden; /* Disable horizontal scroll */
transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
position: relative;
top: 25%; /* 25% from the top */
width: 100%; /* 100% width */
text-align: center; /* Centered text/links */
margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
padding: 8px;
text-decoration: none;
font-size: 36px;
color: #818181;
display: block; /* Display block instead of inline */
transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
position: absolute;
top: 20px;
right: 45px;
font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
.overlay a {font-size: 20px}
.overlay .closebtn {
font-size: 40px;
top: 15px;
right: 35px;
}
} 
.logo{
color:rgb(213, 213, 252);
font-size:30px;
font-weight:700;

}
.nav-control{
display:none;
float:right;
margin-top:-80px;
}
.na-vy{
height:100px;
padding-top:20px;
padding-bottom:20px;

}
.nav-cont a{
float:right;
}
.link{
margin-right:20px;
color:rgb(220, 220, 253);
text-decoration: none;
margin-top:30px;
}
.primary{
float:right;
background-color:rgb(0, 0, 18);
color:white;
border-style:none;
border-radius:20px;
height:40px;
width:120px;
margin-top:20px;
box-shadow: 0px 4px 8px 0px rgba(6, 1, 51, 0.2);
}
.pry-1{
background-color:rgb(0, 0, 18);
color:white;
border-style:none;
border-radius:20px;
height:40px;
width:120px; 
box-shadow: 0px 4px 8px 0px rgba(6, 1, 51, 0.2); 
}

@media (max-width:767px){
.nav-cont{
display:none;
}
.vert-btn{

font-size:50px;

}
.nav-control{
display:block;
}
.mybutton2{
display:none;
}
}











.btnx{
width:120px;
height:40px;
color:white;
background-color: #02013d;
float:right;
border-style:none;
margin-top:8px;
margin-right:5px;
}

.svg-icon {
width: 3em;
height: 3em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
fill: #010e1f;
}

.svg-icon circle {
stroke: #010e1f;
stroke-width: 1;
}
.newBlue{
background-color:#02013d;
color:white;
}
.form-btn{
width:100%;
height:40px;
background-color:rgb(0, 0, 27);
color:white;

border-style:none;
font-size:20px;
margin-top:20px;
box-shadow: 0px 4px 8px 0px rgba(6, 1, 51, 0.2); 
}
.labeltxt{
font-size:12px;
color:grey;
}
.a-link{
color:rgb(124, 124, 252);
}
.gy-pc{
margin-top:60px;

}
@media(max-width:767px){
.main-txt{
font-size:30px;
}
.txt{
font-size:15px;
}
.sect-title{
font-size:15px;
text-align:left;
}
.sect-main{
text-align:left;
font-size:20px;
}
.left{
text-align:left;
font-size:15px;
}
.gy-pc{
margin-top:30px;
}
}
